.App {
  text-align: center;
  background-color: #323639;
  height: 100vh;
  font-family: 'Fredoka One', cursive;
  /* font-family: 'Merriweather', serif; */
/* font-family: 'Exo 2', sans-serif; */
}

h1 {
  color: bisque;
  font-size: 2em;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
